<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Pentaclone</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/westonkd/pentigo-server" target="_blank">View on GitHub</a></li>
      </ul>
    </div>
  </div>
</div>
<main class="home">
  <div class="p-description center-content">
    <h1>Pentaclone:</h1>
    <p>A web service to play the game Pentago&trade;</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="https://github.com/westonkd/pentigo-server#readme">
          <div class="p-info center-content">
            <h4>View API Docs</h4>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="https://github.com/westonkd/pentigo-server.git">
          <div class="p-info center-content">
            <h4>Fork Repo</h4>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="http://westonkd.github.io">
          <div class="p-info center-content">
            <h4>Contact Westonkd</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>