<script type="text/javascript">
  $(document).ready(function() {
    var doReload = true;

    setTimeout(function () {
      if (doReload) {
        location.reload(1);
      }
    }, 3000);

    $(".form-container").toggle();

    function move(form) {
      console.log(JSON.stringify({"token":form.find('#inputToken').val(), "row":form.find('#row').val(), "col":form.find('#column').val(), "quad":form.find('#rotate').val()}));
      $.ajax({
        url        : "/games/<%= params[:id] %>/move",
        dataType   : 'json',
        contentType: 'application/json; charset=UTF-8',
        data       : JSON.stringify({"token":form.find('#inputToken').val(), "row":parseInt(form.find('#row').val()), "col":parseInt(form.find('#column').val()), "quad":parseInt(form.find('#rotate').val())}),
        type       : 'POST',
        complete   : function(){ location.reload(); }
      });
    }

    $('#show-form').click(function(e){
      $(".form-container").fadeToggle();
      $('p#warning-message').toggle();

      if ($(this).attr('data-toggle') === 'hidden') {
        doReload = false;
        $(this).html('Hide Move Form');
        $(this).attr('data-toggle', 'shown');
      } else {
        $(this).html('Show Move Form');
        $(this).attr('data-toggle', 'hidden');
      }
    });
  });
</script>

<body>
    <main class="container">

      <div class="row">
        <div class="col-all-12">
          <h1>Game <%= params[:id] %></h1>
        </div>
      </div>

      <div class="board-container">
        <div class="col-sm-6">
          <% for r in 0..5 -%>
            <% for c in 0..5 -%>
              <% if @game_state[c][r] == 1 %>
                <div class="piece one"></div>
              <% elsif @game_state[c][r] == 2 %>
                <div class="piece two"></div>
              <% else %>
                <div class="piece empty"></div>
              <% end %>
            <% end -%>
            <br/>
          <% end -%>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="center-content">
          <button href="#" class="btn btn-success" id="show-form" data-toggle="hidden">Show Move Form</button>
          <p id="warning-message">
            <em>this will stop the page from augo-reloading</em>
          </p>
        </div>
        <div class="form-container">
          <form class="form-horizontal" id="move-form">
            <fieldset>
              <div class="form-group">
                <label for="inputToken" class="col-lg-2 control-label">Token</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputToken" placeholder="Player Token">
                </div>
              </div>

              <div class="form-group">
                <label for="column" class="col-lg-2 control-label">Column</label>
                <div class="col-lg-10">
                  <select class="form-control" id="column">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  <br>
                </div>

                <label for="row" class="col-lg-2 control-label">Row</label>
                <div class="col-lg-10">
                  <select class="form-control" id="row">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  <br>
                </div>

                <label for="rotate" class="col-lg-2 control-label">Quadrant</label>
                <div class="col-lg-10">
                  <select class="form-control" id="rotate">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                  <br>
                </div>

                <label for="direction" class="col-lg-2 control-label">Clockwise?</label>
                <div class="col-lg-10">
                  <select class="form-control" id="direction">
                    <option>true</option>
                    <option>false</option>
                  </select>
                  <br>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="reset" class="btn btn-default">Reset</button>
                  <button type="button" class="btn btn-primary" onclick="move($('#move-form'))">Move</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

    </main>
</body>
