<main class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="center-content board-container">
        <%= react_component 'Board', {getUrl: request.original_url.split('/viz').first, board: @game_state.as_json } %>
        <% if @winner != '' %>
          <p>
            <em>The winner is: <%= @winner %>!</em>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</main>